.topnav {
    
    overflow: hidden;
    height: 80px;
    border-bottom: black 2px solid;
}

.topnav a {

    margin-top: auto;
    margin-bottom: auto;
    display: block;

    float: right;
    padding-top: 29.5px;
    padding-bottom: 29.5px;

    font-size: 18px;
}

.topnav img {

    margin-top: auto;
    margin-bottom: auto;
    display: block;
    float: left;
    padding: 15px;
    height: 50px;
}


.links {

    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    position: center;
    padding-left: 10px;
    padding-right: 10px;
    
    height: 10px;


}

.links:hover {
    transition: 0.5s;
    color: orangered;

}



.projects_grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 550px 550px 550px;
}

.projects_column {
    display: flexbox;
    text-align: left;
    align-items: center;
    padding: 15px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    border: 2px solid black;
    border-radius: 8px;
    overflow: hidden;
    height: 600px;
}

.projects_column img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 0.5%;
    
}


.introduction {
    padding: 15px;
    padding-bottom: 0px;
}


/* https://shadows.brumm.af/ */

.projects_column:hover {

    opacity: 0.8;
    transition: 1s;
    box-shadow:
    2.2px 2.5px 13.8px rgba(0, 0, 0, 0.082),
    5.7px 6.2px 33.3px rgba(0, 0, 0, 0.117),
    11.2px 12.2px 62.6px rgba(0, 0, 0, 0.145),
    20.6px 22.6px 111.7px rgba(0, 0, 0, 0.173),
    39.6px 43.3px 208.9px rgba(0, 0, 0, 0.208),
    96px 105px 500px rgba(0, 0, 0, 0.29);

}



.navbar_link {
    justify-content: flex-end;
}

.logo {
    justify-content: flex-start;
}

.article_grid {

    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300 300 300 300;
}

.article_story {

    display: flexbox;
    text-align: left;
    align-items: center;
    padding: 15px;

    border: 2px solid black;
    border-radius: 8px;

    margin-left: 7%;
    margin-right: 7%;
    margin-right: 7%;
}

.article_story:hover {

    transition: 1s;
    
    box-shadow:
    2.2px 2.5px 13.8px rgba(0, 0, 0, 0.082),
    5.7px 6.2px 33.3px rgba(0, 0, 0, 0.117),
    11.2px 12.2px 62.6px rgba(0, 0, 0, 0.145),
    20.6px 22.6px 111.7px rgba(0, 0, 0, 0.173),
    39.6px 43.3px 208.9px rgba(0, 0, 0, 0.208),
    96px 105px 500px rgba(0, 0, 0, 0.29);
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 600;
    font-size: 400%;
}

h3{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
}


p a article footer {

    font-family: "Rubik", sans-serif;
}


p {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;

}

a {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    
}

a:hover {
    color: #FF0000;
}



.my_projects {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-top: 100px;


}

.intro_paragraph{
    width: 40%;
    border: 2px solid black;
    overflow-wrap: normal;
    padding: 15px;
}

footer {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    border-top: 2px solid black;
    padding-top: 8px;
    padding-bottom: 6px;
}

header {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    border-top: 2px solid black;
    padding: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    margin-top: 10%;
}