.navbar {
    display: flex;
    padding: 12px;
    background-color: #ededed;
    width: 100%;
    flex-direction: row;
    display: inline;

}

.projects_grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 700px 700px 700px;
}

.projects_column {
    display: flexbox;
    text-align: left;
    align-items: center;
    padding: 15px;
}

.introduction {
    padding: 15px;
}
.aimify_thumbnail_index:hover {

    filter: drop-shadow(22px 22px 22px blue);
    opacity: (0.6);
    transition: 1s;
    
}

.navbar_link {
    justify-content: flex-end;
}

.logo {
    justify-content: flex-start;
}