.topnav {
    
    overflow: hidden;
    height: 80px;
    border-bottom: black 2px solid;
}

.topnav a {

    margin-top: auto;
    margin-bottom: auto;
    display: block;

    float: right;
    padding-top: 29.5px;
    padding-bottom: 29.5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.topnav img {

    margin-top: auto;
    margin-bottom: auto;
    display: block;
    float: left;
    padding: 15px;
    height: 50px;
}


.links {

    position: center;
    padding: 12px;
    vertical-align: middle;

}



.projects_grid {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 700px 700px 700px;
}

.projects_column {
    display: flexbox;
    text-align: left;
    align-items: center;
    padding: 15px;
}

.introduction {
    padding: 15px;
}


/* https://shadows.brumm.af/ */

.thumbnail:hover {

    opacity: 0.8;
    transition: 1s;
    box-shadow:
    2.2px 2.5px 13.8px rgba(0, 0, 0, 0.082),
    5.7px 6.2px 33.3px rgba(0, 0, 0, 0.117),
    11.2px 12.2px 62.6px rgba(0, 0, 0, 0.145),
    20.6px 22.6px 111.7px rgba(0, 0, 0, 0.173),
    39.6px 43.3px 208.9px rgba(0, 0, 0, 0.208),
    96px 105px 500px rgba(0, 0, 0, 0.29);
}

.navbar_link {
    justify-content: flex-end;
}

.logo {
    justify-content: flex-start;
}

.article_grid {

    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500 500 500 500;
}

.article_story {

    display: flexbox;
    text-align: left;
    align-items: center;
    padding: 15px;

    border: 2px solid black;
    border-radius: 8px;
}

.article_story:hover {

    transition: 1s;
    filter: blur(2px);
    box-shadow:
    2.2px 2.5px 13.8px rgba(0, 0, 0, 0.082),
    5.7px 6.2px 33.3px rgba(0, 0, 0, 0.117),
    11.2px 12.2px 62.6px rgba(0, 0, 0, 0.145),
    20.6px 22.6px 111.7px rgba(0, 0, 0, 0.173),
    39.6px 43.3px 208.9px rgba(0, 0, 0, 0.208),
    96px 105px 500px rgba(0, 0, 0, 0.29);
}
